/* Reset some default styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

main {
  width: 80%;
  margin: 20px auto;
  padding-top: 140px;
}

h2 {
  padding-top: 10px;
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
  }
  
  .navbar ul li a:hover {
    background-color: #555;
    border-radius: 4px;
  }


  /* Media query for smaller screens (mobile devices) */
@media (max-width: 768px) {
    header h1 {
      font-size: 2.5em; /* Adjust font size for smaller screens */
    }

    main {
        width: 80%;
        margin: 20px auto;
        padding-top: 160px;
      }

    h2 {
      font-size: 2em; /* Adjust font size for headings on smaller screens */
    }
  
    p {
      font-size: 1.6em; /* Adjust font size for paragraphs on smaller screens */
    }
  }